<div class="container my-5">
    <h3 class="mb-3">Edit Employee</h3>
        <div class="row">
            <div class="col-6">
                <form #form="ngForm" (ngSubmit)="updateEmployee()" >
                    <div class="mb-3">
                        <label for="id" class="form-label">Id</label>
                        <input type="text" id="id" class="form-control"
                        [(ngModel)]="employeeDetails.id"name="id" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="name" class="form-control"
                        [(ngModel)]="employeeDetails.name"name="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control"
                        [(ngModel)]="employeeDetails.email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="number" id="phone" class="form-control"
                        [(ngModel)]="employeeDetails.phone" name="phone">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Salary</label>
                        <input type="text" id="name" class="form-control"
                        [(ngModel)]="employeeDetails.salary" name="salary">
                    </div>
                    <div class="mb-3">
                        <label for="department" class="form-label">Department</label>
                        <input type="text" id="department" class="form-control"
                        [(ngModel)]="employeeDetails.department" name="department">
                    </div>

                    <button type="submit" class="btn btn-primary mr-5">Save</button>
                    <button type="button" class="btn btn-danger" (click)="deleteEmployee(employeeDetails.id)">Delete</button>

                </form>
            </div>
        </div> 
</div>